@model global::LeagueTool.Models.ViewModels.ChampionListModel

<div class="container">
    <div class="page-header">
        <h1 class="page-title">
            Champions
        </h1>
        <div class="page-subtitle"></div>
        <div class="page-options d-flex">
            <select class="form-control custom-select w-auto">
                <option value="asc">Newest</option>
                <option value="desc">Oldest</option>
            </select>
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-lg-4">
            <form class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-label">Filter</div>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <div class="form-label">Group</div>
                        <div class="selectgroup w-100">
                            <label class="selectgroup-item">
                                <input name="value" value="s" class="selectgroup-input" checked="" type="radio">
                                <span class="selectgroup-button">S</span>
                            </label>
                            <label class="selectgroup-item">
                                <input name="value" value="m" class="selectgroup-input" type="radio">
                                <span class="selectgroup-button">M</span>
                            </label>
                            <label class="selectgroup-item">
                                <input name="value" value="l" class="selectgroup-input" type="radio">
                                <span class="selectgroup-button">L</span>
                            </label>
                            <label class="selectgroup-item">
                                <input name="value" value="xl" class="selectgroup-input" type="radio">
                                <span class="selectgroup-button">XL</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">Country</div>
                        <select class="custom-select form-control">
                            <option value="">United States</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <table class="table card-table table-vcenter">
                    <tbody>
                        <tr>
                            <th class="w-1"></th>
                            <th class="w-1"></th>
                            <th>Name</th>
                            <th class="d-none d-sm-table-cell">Id</th>
                            <th class="d-none d-md-table-cell">Title</th>
                        </tr>
                        @foreach (var champion in Model.Champions)
                        {
                            <tr>
                                <th>
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="" value="" type="checkbox">
                                        <div class="custom-control-label"></div>
                                    </label>
                                </th>
                                <td>
                                    <span class="avatar d-block rounded"
                                          style="background-image: url(@champion.SquareImage)">
                                    </span>
                                </td>
                                <td>@champion.Name</td>
                                <td class="d-none d-sm-table-cell">@champion.Id</td>
                                <td class="d-none d-md-table-cell">@champion.Title</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>